*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.container{
   width: 100vw;
   height: 80vh;
   /* display: flex;
   align-items: center;
   flex-direction: column; */
}
.container-mid{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.heading{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-field{
    height: 50vh;
    width: 35vw;
    display: flex;
    gap: 10px;
    justify-content: center;

    flex-direction: column;
}
.form-field Button{
    width: 10vw;
}
.form-field input{
    height : 50px;
    border-radius: 10px;
}

.table-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    padding: 40px;
    margin: 10px;

  
    flex-direction: column;
}